<ol class="breadcrumb">
	<% @parents.each do |e|  %>
	<li><%= link_to(e.name, e) %></li>
	<% end %>
	<li class="active"><em><%= @category.name %></em></li><br>
</ol>
<% @products.each do |e|  %>
	<div class="panel panel-default">
	  <div class="panel-heading"><%= e.name %></div>
	  <div class="panel-body text-right">
	    <%= link_to("Go", e, class: "btn btn-default") %>
	  </div>
	</div>
<% end %>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
