<div class="row">	
	<ul class="list-group col-md-4">
	  <li class="list-group-item">
	  	<h4 class="list-group-item-heading">Name</h4>
	    <p class="list-group-item-text"><%= @product.name %></p>
	  </li>
	  <li class="list-group-item">
	  	<h4 class="list-group-item-heading">Price</h4>
	    <p class="list-group-item-text"><%= @product.price %></p>
	  </li>
	  <li class="list-group-item">
	  	<h4 class="list-group-item-heading">Cat number</h4>
	    <p class="list-group-item-text"><%= @product.cat_number %></p>
	  </li>
	  <li class="list-group-item">
	  	<h4 class="list-group-item-heading">Description</h4>
	    <p class="list-group-item-text"><%= @product.description %></p>
	  </li>
	</ul>
</div>
<div class="row">
	<%= link_to 'Edit', edit_product_path(@product), :class => "btn btn-primary" %>
	<%= link_to 'Back', products_path, :class => "btn btn-default" %>
</div>
